@tailwind base;
@tailwind components;
@tailwind utilities;
@import './themes/light.css';
@import './themes/dark.css';

@layer utilities {
  .grid-layout {
    @apply grid min-h-screen gap-x-6;
    grid-template-columns: 1fr;
    grid-template-rows: var(--grid-rows-layout, auto 1fr auto);
  }
  @media (min-width: 1200px) {
    .grid-layout {
      grid-template-columns: auto minmax(0, 1200px) auto;
    }
  }
  .grid-header {
    @apply col-span-full;
  }
  @media (min-width: 1200px) {
    .grid-header {
      @apply col-start-2 col-end-3;
    }
  }
  .grid-main {
    @apply col-span-full;
  }
  @media (min-width: 1200px) {
    .grid-main {
      @apply col-start-2 col-end-3;
    }
  }
  .grid-footer {
    @apply col-span-full;
  }

  .grid-full-width {
    margin-top: 30px;
    @apply col-span-full;

    @media (max-width: 768px) {
      margin-top: 0px;
    }
  }

  .phone-block {
    @media (max-width: 420px) {
      display: flex;
      flex-direction: column;
      text-align: center;
    }
  }
}
